*   {
    flex-wrap: wrap;
    max-width: 100%;
} 
body {
    /* gradient */
    background: rgb(0,36,1);
    background: linear-gradient(121deg, rgba(0,36,1,1) 0%, rgba(255,255,255,1) 0%, rgba(223,242,202,1) 99%, rgba(101,191,1,1) 100%);
    /* fixes background height */
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.heading-text  {
    color: mediumseagreen;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding-left: 50px;
}

.body-text {
    font-family: 'Arya', sans-serif;
    size: 20px;
}

.image  {
    float: left;
    padding-right: 20px;
    padding-left: 20px;
    height: 300px;
    width: 300px;
}

.name   {
    background-color: mediumseagreen;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.marginRight {
    margin-right: 70%
}

.navItems    {
    justify-content: right;

}

.marginForm {
    margin-left: 5%;
    margin-right: 25%;
    margin-top: 5%;
}

.greenButton    {
    background-color: mediumseagreen;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.portfolio  {
    border-width: 2px solid black;
    background-color: lightgray;
    text-align: center;
    width: 33%;
    height: 3em;
}

.footer {
    bottom: 0%;
    position: fixed;
    height: 3em;
    width: 100%;
    background-color: lightseagreen;
    border: 2px solid black;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

@media screen and (max-width: 768px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 400px) {
    .column {
        width: 100%;
    }
}
