* {
    flex-wrap: wrap;
    max-width: 100%;
} 

body {
    /* gradient */
    background: rgb(197,255,175);
    background: linear-gradient(90deg, rgba(197,255,175,1) 0%, rgba(99,254,96,1) 50%, rgba(0,195,2,1) 100%);
    /* fixes background height */
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.name {
    background-color: mediumseagreen;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
}

.name:hover {
    background-color: lightseagreen;
}

.name:active {
    background-color: rgb(36, 207, 179);
}

.item {
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
}

.item:hover {
    text-shadow: 2px 2px 7px;
    box-shadow: 2px 2px 3px, -2px -2px 3px;
}

.heading-text  {
    color: mediumseagreen;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding-left: 50px;
}

.body-text, .portfolio-text {
    font-family: 'Arya', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

.body-text {
    size: 20px;
    animation: fadeIn ease 1s;
}

.portfolio-text {
    size: 15px;
}

.margin {
    margin-bottom: 1.2em;
}

.image  {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}

.navItems    {
    justify-content: right;
}

.marginForm {
    margin-left: 5%;
    margin-right: 25%;
    margin-top: 5%;
}

.portfolio-heading {
    font-weight: bold;
}

.portfolio {
    position: relative;
    overflow: auto;
    text-align: center;
    background-color: rgba(146, 144, 145, 0.904);
    height: 40em;
    margin: 10px;
    padding-top: 10px;
    width: 30%;
    float: left;
    border-radius: 5px;
    /* fade in */
    animation: fadeIn ease 1s;
}

.portfolio:hover, .contact:hover {
    transition: all 0.2s;
    box-shadow:
        0 13.7px 6.8px rgba(0, 0, 0, 0.052),
        0 19.7px 13px rgba(0, 0, 0, 0.059),
        0 25.5px 18.9px rgba(0, 0, 0, 0.061),
        0 32.4px 25.6px rgba(0, 0, 0, 0.063),
        0 41.9px 36.6px rgba(0, 0, 0, 0.072),
        0 61px 71px rgba(0, 0, 0, 0.13);
    background: linear-gradient(325deg, rgba(114, 112, 113, 0.904) 0%, rgba(231, 228, 230, 0.904) 100%);
    top: -3px;
}

.contact  {
    position: relative;
    overflow: auto;
    background-color: rgba(194, 194, 194, 0.904);
    float: left;
    width: 90%;
    height: 27em;
    margin: 10px;
    padding: 30px;
    border-radius: 5px;
    /* fade in */
    animation: fadeIn ease 1.0s;
}

.contact-icon {
    margin-bottom: 10px;
}

.footer {
    font-family: 'Arya', sans-serif;
    size: 20px;
    bottom: 0%;
    position: fixed;
    height: 3em;
    width: 100%;
    background-color: mediumseagreen;
    border: 2px solid black;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

@keyframes fadeIn {  
    0% {
        opacity: 0%;
        margin-top: 1.5%;
    }
    100% {
        opacity: 100%;
    }
}

@media screen and (max-width: 600px) {
    .portfolio {
        width: 90%;
    }

    .image {
        height: 175px;
        width: 175px;
    }
    
    .navItems {
        font-size: 12px;
    }

    .name {
        font-size: 12px;
    }

    .contact {
        font-size: 12px;
    }

    .contact-icon {
        height: 32px;
        width: 32px;
    }
}

@media screen and (min-width: 600px) {
    .portfolio {
        width: 90%;
    }

    .image {
        height: 175px;
        width: 175px;
    }
}

@media screen and (min-width: 768px) {
    .body-text {
        font-size: 20px
    }

    .portfolio {
        width: 45%;
    }

    .image {
        height: 200px;
        width: 200px;
    }
}

@media screen and (min-width: 992px) {
    .body-text {
        font-size: 22px
    }

    .portfolio {
        width: 30%;
    }

    .image {
        height: 228px;
        width: 228px;
    }
}

@media screen and (min-width: 1200px) {
    .body-text {
        font-size: 24px
    }
    
    .portfolio {
        width: 30%;
    }

    .image {
        height: 228px;
        width: 228px;
    }
}